<!--変えました5-->
<!doctype html>
<html lang="ja">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
</head>
<body>
    <h2>{{namae}}さんの{{title}}</h2>
    <p>症状などのところは0は無し、1は有り</p>
    <table border>
        <tr>
            <th>項目</th>
            {% for row_data in table_data.values %}
                <th>{{ row_data[13] }}</th> <!-- 記録日をヘッダーに表示 -->
            {% endfor %}
        </tr>
        {% set items = ['ID', '記録日', '体温', '関節・筋肉痛', 'だるさ', '頭痛', '咽頭痛', '息苦しさ', '咳・くしゃみ', '吐き気・嘔吐', '腹痛・下痢', '味覚障害', '嗅覚障害', '最終更新日時'] %}
        {% for index in range(items|length) %}
            <tr>
                <th>{{ items[index] }}</th>
                {% for row_data in table_data.values %}
                    {% if index == 13 %}
                        <td>{{ row_data[13] }}</td> <!-- 記録日 -->
                    {% elif index > 1 %}
                        <td>{{ row_data[index] }}</td> <!-- 他の項目は1つインデックスをシフト -->
                    {% else %}
                        <td>{{ row_data[index] }}</td> <!-- ID -->
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <th>削除</th>
            {% for row_data in table_data.values %}
                <td>
                    <form action="/deleteHealth" method="post">
                        <input type="hidden" name="record_id" value="{{ row_data[0] }}">
                        <input type="hidden" name="person_id" value="{{ row_data[1] }}">
                        <button type="submit">削除</button>
                    </form>
                </td>
            {% endfor %}
        </tr>
    </table>
    トップに<a href="/superuser">戻る</a>
</body>
</html>
